/***************************** 
*
* Author: Giovanni De Andre
* Game styles v1.0
* 05/2018
*
******************************/

body {
    background-color: rgba(80, 104, 211, 0.774);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font: 400 1em/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #141414;
}

canvas {
    width: 500px;
    height: 600px;
    margin: 2em 0 0;
}

button {
    border: transparent;
    background-color: #ffffff;
    color: #4b985c;
    outline: transparent;
    margin: 1em 1em 0 1em;
    padding: 0.5em;
    width: 200px;
    font-size: 24px;
    text-shadow: 1px 2px 0 #141414;
    cursor: pointer;
    opacity: 0.9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.365);
            box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.365);
    border-radius: 8px;
    -webkit-transition: all 0.3s ease 0.1s;
    transition: all 0.3s ease 0.1s;
    font-family: 'Luckiest Guy', cursive;
}

button:hover,
button:focus {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.384);
            box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.384);
    opacity: 1;
}

.button-primary {
    background-color: #4b985c;
    color: rgb(255, 255, 255);
}

.button-secondary {
    background-color: #d76c38;
    color: rgb(255, 255, 255);
}

h1,
h2,
h3 {
    margin-top: 0;
    font-family: 'Luckiest Guy', cursive;
    font-weight: normal;
}

h1 {
    font-size: 56px;
    margin: 0;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* MODAL STYLES */

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(80, 104, 211, 0.9);
    color: rgb(15, 15, 15);
    visibility: hidden;
    opacity: 0;
    z-index: -1000;
    -webkit-transition: all 0.3s ease 0.1s;
    transition: all 0.3s ease 0.1s;
}

.modal__screen {
    position: absolute;
    max-width: 480px;
    width: 100%;
    background-color: #fff;
    padding: 4em;
    -webkit-box-shadow: 0 30px 70px 0 rgba(0, 0, 0, 0.123);
            box-shadow: 0 30px 70px 0 rgba(0, 0, 0, 0.123);
    border-radius: 8px;
    -webkit-transition: all 0.5s ease 0.1s;
    transition: all 0.5s ease 0.1s;
}
.modal__screen h1, .modal__screen h2 {
    text-shadow: 1px 2px 0 #141414;
}
.modal__screen--green {
    background-color: rgba(75, 152, 92, 0.9);
    color: #fff;
}

.modal__screen--blue {
    background-color: rgba(80, 104, 211, 0.9);
    color: #fff;
}

.modal__screen--red {
    background-color: rgba(215, 108, 54, 0.9);
    color: rgb(255, 255, 255);
}

.play-screen,
.play-level,
.game-over {
    visibility: hidden;
    opacity: 0;
    z-index: -1000;
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
    -webkit-transition: all 0.5s ease 0.1s;
    transition: all 0.5s ease 0.1s;
}

.show.modal {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
}

.show.play-screen,
.show.play-level,
.show.game-over {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

/* GAME STATS STYLES */

.score-panel {
    max-width: 720px;
    width: 100%;
    margin: auto;
    min-height: 2em;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.score-panel__stat {
    width: 148px;
    padding: 1em;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 1px 2px 0px black;
}

/* GAMEOVER */

.results span {
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;
}

.results span span {
    color: #FFF59D;
    font-size: 32px;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    max-width: 1200px;
    height: 60px;
    padding: 1em;
    margin: auto;
    z-index: 2000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

header span,
header nav {
    width: 50%;
}

header span {
    text-align: left;
    font-family: "Luckiest Guy", cursive;
    color: #fff;
    text-shadow: 1px 2px 0px black;
}

header nav {
    text-align: right;
}

.icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: #000;
}

nav a {
    display: block;
    margin: 0 0 1em;
    text-decoration: none;
}

a span:hover {
    background-color: #0026cf;
}

.icon:hover {
    fill: #0026cf;
}

.icon-help {
    background-color: #000;
    text-align: center;
    line-height: 2em;
    color: #fff;
    border-radius: 100%;
    font-family: "Luckiest Guy", cursive;
}

/* HOW-TO MODAL */

.help-screen {
    background-color: #fff;
}

.help-screen a {
    display: block;
    font-size: 24px;
    margin: 1em 0 0;
    font-family: "Luckiest Guy", cursive;
    text-decoration: none;
}

#help:target {
    visibility: visible;
    opacity: 1;
    z-index: 2000;
}

/* RWD */
@media screen and (max-width: 1024px){
    canvas {
        width: 100%;
        height: 100%;
    }
    .score-panel {
        max-width: 425px;
    }
    .score-panel__stat{
        width: 74.25px;
    }
}
@media screen and (max-width: 614px){
    canvas {
        margin: 3em 0 0;
    }
    .score-panel {
        margin: 2em 1em 0 1em;
    }
    .score-panel__stat{
        width: 77.75px;
        padding: 0.5em;
    }
}